<div class="mini-container">
    <div class="bg-login">
        <div class="logo mx-auto">
            <img src="assets/Logo_DeOmgevingsverbinder_Wit_Zwart.png" alt="">
        </div>
    
        <form>
            <div class="form-row mb-3">
                <div class="col-11">
                    <label>E-mailadres</label>
                    <input type="email" class="" placeholder="e-mailadress">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-11">
                    <label>Wachtwoord</label>
                    <input type="password" class="" placeholder="Wachtwoord">
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col-11 text-right">
                    <a href="javascript:void(0)" routerLink="/auth/forgot" class="">Wachwoord vergeten</a>
                </div>
            </div>
            <div class="form-row">
                <div class="col-11"><a href="javascript:void(0)" routerLink="/" class="btn btn-gray d-block">Inloggen</a></div>
            </div>
           <span>Nog een account? </span> <a href="javascriptr:void(0)" routerLink="/auth/signup" class="text-center d-inline-block mt-4">Meld je aan</a>
        </form>
    </div>
</div>