<div class="mini-container">
    <div class="bg-login">
        <div class="logo mx-auto">
            <img src="assets/Logo_DeOmgevingsverbinder_Wit_Zwart.png" alt="">
        </div>
    
        <form>
            <div class="form-row mb-3">
                <div class="col-11">
                    <label>Name</label>
                    <input type="text" class="" placeholder="Name">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-11">
                    <label>E-mailadres</label>
                    <input type="email" class="" placeholder="Emailadres">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-11">
                    <label>Wachtwoord</label>
                    <input type="password" class="" placeholder="Wachtwoord">
                </div>
            </div>
            <div class="form-row">
                <div class="col-11"><a href="javascript:void(0)" routerLink="/auth" class="btn btn-gray d-block">Inloggen</a></div>
            </div>
        </form>
    </div>
</div>