<div class="bg-login h-100">
  <div class="auth">
    <div class="logo">
      <img src="assets/Logo_DeOmgevingsverbinder_Wit_Zwart.png" width="100%" alt="">
    </div>
    <div class="log-in-form">
      <h3 class="text-center">Welkom Terug</h3>
      <h5 class="text-center mb-4">Inloggen op je account</h5>

      <div class="form-row mb-4">
        <div class="col">
          <label>Emailadres</label>
          <input type="text" placeholder="Emailadres">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col">
          <label>Wachtwoord</label>
          <input type="text" placeholder="Wachtwoord">
        </div>
      </div>
      <div class="form-row mb-4">
        <div class="col">
          <a href="javascript:void(0)" routerLink="/admin" class="text-uppercase btn btn-yellow d-block">Inloggen</a>
        </div>
      </div>

    </div>
  </div>
</div>
