<div class="mini-container">
    <div class="fs-16 fw-600 mb-2 p-3">&lt;Username&gt;</div>

    <div class="fs-16 account-text mb-4 pl-3"><img height="50" src="../../../../assets/Logo_DeOmgevingsverbinder_black.png" alt=""></div>

    <div class="row mx-0">
        <div class="col-6 mb-3">
            <a href="javascript:void(0)" routerLink="/profile" class="bg-login account-card">
                <i class="fas fa-lock fs-40"></i>
                <div class="fs-16 fw-500 account-text">
                    Wijzig Wachtwoord
                </div>
            </a>
        </div>
        <div class="col-6 mb-3">
            <a href="javascript:void(0)" routerLink="/auth" class="bg-login account-card">
                <i class="fas fa-sign-out-alt"></i>
                <div class="fs-16 fw-500 account-text">
                   Uitloggen
                </div>
            </a>
        </div>
        <div class="col-6 mb-3">
            <a href="javascript:void(0)" class="bg-login account-card">
                <i class="fas fa-bullhorn"></i>
                <div class="fs-16 fw-500 account-text">
                    Notificaties
                </div>
            </a>
        </div>
    </div>

</div>