<div class="mini-container">
    <div class="bg-login">
        <div class="logo mx-auto">
            <img src="assets/Logo_DeOmgevingsverbinder_Wit_Zwart.png" alt="">
        </div>
    
        <form>
            <div class="form-row justify-content-center mb-3">
                <div class="col-12">
                    <ng-otp-input class="otp-box" (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-7"><a href="javascript:void(0)" routerLink="/auth" class="btn btn-gray d-block">Confirm</a></div>
            </div>
        </form>
    </div>
</div>